<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="PayPal.Forms" version="2.15.5" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="monoandroid60" />
  <package id="Rg.Plugins.Popup" version="0.0.17" targetFramework="monoandroid60" />
  <package id="Shaman.System.Drawing" version="1.0.1.1" targetFramework="monoandroid60" />
  <package id="Square.OkHttp3" version="3.4.1.1" targetFramework="monoandroid60" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="monoandroid60" />
  <package id="System.Collections" version="4.0.11" targetFramework="monoandroid60" />
  <package id="System.Globalization" version="4.0.11" targetFramework="monoandroid60" />
  <package id="System.IO" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Linq" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Reflection" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Runtime" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="monoandroid60" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="monoandroid60" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.0.5" targetFramework="monoandroid60" />
  <package id="Xam.Plugins.Messaging" version="3.2.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading" version="2.1.8" targetFramework="monoandroid60" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.1.8" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms.Maps" version="2.3.2.127" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="XLabs.Cryptography" version="2.0.5782" targetFramework="monoandroid60" />
</packages>